.app--container {
  text-align: center;
  font-family: 'Josefin Sans',
  sans-serif;
  /* background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));*/
}

.app--header {
  background: url(./assets/images/bg-desktop-dark.jpg) no-repeat;
  background-size: cover;
  height: 30vh;
}

.app--title {
  font-weight: 700;
  padding-top: 40px;
  color: #ffffff;
  margin-top: 0px;
}

.app--todos {
  height: 70vh;
  background-color: hsl(235, 21%, 11%);
}