.tasklist--section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasklist--container {
    align-items: center;
    padding: 0;
}

.tasklist--item {
    list-style-type: none;
}

.tasklist--footer {
    display: flex;
    justify-content: space-around;
    background-color: hsl(237, 14%, 26%);
    width: 400px;
    height: 40px;
}

.hide {
    display: none;
}

.drag-over {
    border: dashed 3px red;
}