.tasklist--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasklist--footer {
    display: flex;
    justify-content: space-around;
    background-color: hsl(237, 14%, 26%);
    width: 400px;
    height: 40px;
}
